@font-face {
    font-family: 'Basteleur';
    src: url(Basteleur-Moonlight.woff2);
}

h1 {
    font-family: "Basteleur", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;

}

 @media (min-width: 640px){
    h1 {
         font-size :100px; 
    } 
}

    

h2 {
    font-family: "Basteleur", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin: 50px;
    margin-top: 40px;
    margin-bottom: 0px;
    line-height: 1;


}

.txt{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    margin: auto;
    background-color: #f0f0f0;
    line-height: 1.5;
    margin-left: 50px ;
}


body.index{
    max-width: 1000px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    margin: auto;
    background-color: #f0f0f0;
    line-height: 1.5;
}

.body-projets {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    line-height: 0.7;
    margin-left: 2px;
    
}


.content {
    max-width: 2000px;
    width: 100% + 10px;
    padding: 10px;
    justify-content: center;

}


.nav {
    margin: 0px;
}

.nav a.current {
    background: rgb(0, 0, 0);
    color: #ccc;
}

.nav a:hover {
    background: rgb(76, 0, 255);
    transition: 0.5s;
}

.nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background: #ccc(255, 255, 255);
    margin-right: 10px;
    padding: 2.5px 20px;
    border-radius: 20px;
    border-color: black;
    border: 2px solid black;
}


img {
    max-width: 100%;
    height: auto;
}

.item {
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 8fr 12fr;
    gap: 0px;
    padding: 10px;
}

.itemgap {
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 8fr 12fr;
    gap: 5px;
    padding: 10px;
}

.projet-grid{
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
    display: grid;
    gap: 10px;
    padding: 10px;
}
@media (min-width:640px){
    .projet-grid{
        grid-template-columns: 8fr 12fr;
    }

    
}


.projet-grid50{
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
    display: grid;
    gap: 10px;
    padding: 10px;
}
@media (min-width:640px){
    .projet-grid50{
        grid-template-columns: 1fr 1fr;
    }

    
}


.cinq {
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    max-width: 1200px;
}

.un {
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    max-width: 1200px;
}
 
.projet-grid3{
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
    display: grid;
    gap: 10px;
    padding: 10px;
}
@media (min-width:640px){
    .projet-grid3{
        grid-template-columns: 1fr 1fr 1fr;
    }

    
}


.cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.video-container {
    width: 100%;
    max-width: 800px; /* Réglez la largeur maximale selon vos besoins */
    margin: 0 auto; /* Centre la vidéo horizontalement */
  }
  
  video {
    width: 100%;
    height: auto; /* Ajuste la hauteur automatiquement pour maintenir les proportions originales */
    display: block; /* Pour éviter les marges blanches en bas de la vidéo */
  }
